@model SSGeek.Web.Models.AlienAgeModel
@{
    ViewData["Title"] = "Alien Age";
}

<section class="centeredPanel">
    <h2>Alien Age Calculator</h2>

    <form asp-action="AlienAgeResult" asp-controller="Calculators" method="get">
        <div class="form-field">
            <label asp-for="AlienPlanet"></label>
            <select asp-for="AlienPlanet" asp-items="ViewBag.PlanetList"></select>
        </div>
        <div class="form-field">
            <label asp-for="EarthAgeInYears"></label>
            <input asp-for="EarthAgeInYears" />
        </div>

        <button type="submit">Calculate Age</button>
    </form>
</section>