@model SSGeek.Web.Models.AlienWeightModel

@{
    ViewData["Title"] = "Alien Weight Result";
}


<section id="calculatorResult" class="centeredPanel">

    <img src="@Url.Content("~/images/" + Model.AlienPlanet + ".jpg")" />
    <h2>If you are @Model.EarthWeight lbs on planet Earth, you would weigh @Math.Round(Model.AlienWeight, 2) lbs on @Model.AlienPlanet.</h2>

</section>