@model SSGeek.Web.Models.TriviaModel
@{
    ViewData["Title"] = "Incorrect";
}

<section class="centeredPanel">
    <h2>Incorrect!</h2>

    <p class="centered">That's incorrect! Don't you know your space trivia? You should spend more time studying instead of watching fake space movies <strong>@Model.Name</strong>!</p>
</section>

